/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*   Default settings set to 0 using border box */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*Header ----------------------------------- */
header {
    background-color:yellow;
}

header a { 
    text-decoration: none;
    color: #3a3a3a;
}

h1 {
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
   
} 
/* Nav bar---------------------------------- */
#navigation {
    font-size: 120%;
    letter-spacing: 0.5px;
    list-style-type: none;
    display: hidden;
}

#navigation > li {
    margin-bottom: 2px;
}

.active {
    border-bottom: 1px;
}
 
a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
        color: white;
}


/* Main-------------------------------- */

main {
    background-color: green;
    flex: 1 0 auto;
}


/*Footer----------------------------- */

footer {
    background-color:red;
}