* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*Header ----------------------------------- */
header {
    background-color:yellow;
}

h1 {
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
   
} 
/* Main-------------------------------- */

main {
    background-color: green;
    flex: 1 0 auto;
}


/*Footer----------------------------- */

footer {
    background-color:red;
}